.Body-padding {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #F1F1F1;
    height: 600px;
    width: 1315px;
    margin-top: -20px;
    margin-left: -28px;
}
.cartt {
    display: flex;
    margin-left: 120px;
}
.cart1 img {
    margin-top: 140px;
    width: 400px;
    border-radius: 20px;
    height: 430px;
}
.cart2 h4 {
    margin-top: 170px;
    color: gray;
    margin-left: 20px;
}
.cart4 {
    margin-left: 20px;
    color: #444;
    width: 600px;
}
.cart5 {
    margin-left: 20px;
    font-size: 30px;
}
.cart6 {
    margin-left: 20px;
}
.cart7 {
    margin-left: 20px;
    width: 300px;
}
.cart8{
    margin-left: 20px;
    width: 130px;
    height: 50px;
    border-radius: 6px;
    background: black;
    color: #F1F1F1;
}
.cart9{
    margin-left: 20px;
    width: 130px;
    height: 50px;
    border-radius: 6px;
    background: gray;
    color: #F1F1F1;
}
.buy {
    text-align: none;
    border: 1px solid gray;
    padding: 7px;
    border-radius: 6px;
    color:#000;
}
.buy:hover{
    background: #222;
    color: white;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .columntwo img {
    width: 500px;
    height: 550px;
    margin-left: 85px;
    border-radius: 20px;
  }
  input[type=submit] {
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #444;
  }
  
  /* Style the container/contact section */
  .containerone {
    width: 100vw !important;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  .containerone h2 {
    display:flex;
    justify-content: center;
  }
  .containerone p {
    display:flex;
    justify-content: center;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 30px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    /* padding: 15px; */
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #444;
    color: #000;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.buttons .as {
    background: #000;
    border-radius: 10px;
    color: #fff;
}

.buttons .as:hover {
    background: #222;
    color: #fff;
}

.buttons .btn {
    background: #000;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
}

.buttons .btn:hover {
    background: #222;
    color: #fff;
}

.icons {
    display: flex;
}

.collect h5 {
    position: absolute;
    top: 170px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 74px;
    line-height: 55px;
    color: #000000;
}

.collect p {
    position: absolute;
    top: 253px;
    width: 515px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 00;
    font-size: 27px;
    line-height: 55px;
    text-transform: capitalize;
    color: #000000;
}

.collect button {
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 390px;
    background: #000;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    width: 125px;
}

.collect .btn {
    color: black;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.img img {
    margin-left: 607px;
    width: 360px;
    margin-top: 75px;
}


button .a {
    margin-left: 300px;
}

.logodisplay {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.logodisplay img:hover {
    transform: scale(0.9);
    transition: 0.5s;
}

.main {
    margin-top: 700px;
}

.main .text {
    position: absolute;
    width: 548px;
    height: 12px;
    right: 877px;
    top: 1130px;
    width: 548px;
    height: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;

    color: #000000;

    transform: rotate(-90deg);
}

.main img:hover {
    transform: scale(0.9);
    transition: 0.5s;
}

.main1 {
    position: absolute;
    width: 490px;
    height: 518px;
    left: 167px;
    top: 877px;
}

.main2 {
    position: absolute;
    width: 252px;
    height: 245px;
    left: 672px;
    top: 877px;
}

.main3 {
    position: absolute;
    width: 252px;
    height: 245px;
    left: 938px;
    top: 877px;
}

.main4 {
    position: absolute;
    width: 252px;
    height: 245px;
    left: 672px;
    top: 1152px;

}

.main5 {
    position: absolute;
    width: 252px;
    height: 245px;
    left: 938px;
    top: 1152px;
}


.zara {
    position: absolute;
    width: 1304px;
    height: 641px;
    right: 2px;
    top: 4157px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.zara1 {
    position: absolute;
    width: 422px;
    height: 259px;
    left: 860px;
    top: 4159px;

}

.contain {
    display: flex;
    position: absolute;
    /* top:1px; */
    bottom: 700px;
    right: 1650px;
}

.contain h2 {
    position: absolute;
    color: #fff;
    width: 191px;
    font-size: 80px;
    height: 81px;
    left: 1083px;
    top: 4449px;
}

.contain p {
    position: absolute;
    width: 504px;
    height: 147px;
    left: 1083px;
    top: 4556px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-transform: capitalize;

    color: #FFFFFF;
}

.contain button {
    position: absolute;
    width: 145px;
    border-radius: 10px;
    background: #F1F1F1;
    color: #000;
    font-size: 17px;
    height: 52px;
    left: 1083px;
    top: 4700px;
}

.seller .link001 {
    position: absolute;
    list-style: none;
    width: 375px;
    height: 22px;
    right: 1055px;
    top: 4170px;

}

.seller p {
    position: absolute;
    width: 332px;
    height: 53px;
    left: 494px;
    top: 4845px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;

    color: #000000;

}

.link01 {
    position: absolute;
    width: 93px;
    height: 22px;
    left: 300px;
    top: 783px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-transform: capitalize;

    color: #000000;
}

.link02 {
    position: absolute;
    width: 51px;
    height: 22px;
    left: 433px;
    top: 783px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-transform: capitalize;

    color: #777777;
}

.link03 {
    position: absolute;
    width: 64px;
    height: 22px;
    left: 524px;
    top: 783px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-transform: capitalize;

    color: #777777;

}

.link04 {
    position: absolute;
    width: 47px;
    height: 22px;
    left: 628px;
    top: 783px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    text-transform: capitalize;

    color: #777777;
}

.seller .btn1 {
    position: absolute;
    background: #000;
    width: 110px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    height: 47px;
    left: 1242px;
    top: 778px;
}

.btb {
    margin-left: 120px;
}

.one {
    margin-top: 1050px;
}

.cener {
    display: flex;
    justify-content: center;
}
.cener h4 {
    margin-left: -1px;
    font-family: 'Open Sans';
    font-style: normal;
    color: #777777;
    font-size: 16px;
    /* identical to box height */

    text-transform: capitalize;


}

.cener h6 {
    margin-left: 150px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: right;
    text-transform: capitalize;


}
.zero {
    margin-top: 400px;
    margin-left: 200px;
}

.row1 {
    padding-top: 1050px;
}

.product {
    width: 255px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #F0F2F3;
    box-shadow: 0 3px 24px rgb(0 0 0 / 4%);
    border-radius: 8px;
}

.product-thumb img {
    width: 100%;
    height: auto;
}

.title h5{
    margin-top: 20px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #000;
}

.discount p {
    position: absolute;
    width: 1096px;
    height: 53px;
    left: 112px;
    bottom: 380px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 53px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;

    color: #000000;
}

.discount {
    position: relative;
    top: 90px;
    background-color: #F1F1F1;
    width: 1292.5px;
    left: -6px;
    height: 500px;
}

.discount1 {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 122px;
    top: 139px;
}

.discount2 {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 307px;
    top: 139px;

}

.discount3 {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 490px;
    top: 139px;
}

.discount4 {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 670px;
    top: 139px;
}

.discount5 {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 850px;
    top: 139px;
}

.discount6 {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 1029px;
    top: 139px;
}

.discount h6 {
    position: absolute;
    width: 1096px;
    height: 53px;
    left: 112px;
    top: 320px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 53px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;

    color: #000000;
}

.discount .input1 {
    position: absolute;
    width: 450px;
    height: 32px;
    left: 385px;
    top: 405px;
    color: black;
    background: none;
    border: none;
    border-bottom: 3px solid black;
}

.input2 {
    position: absolute;
    color: #000;
    font-size: 21px;
    width: 80px;
    padding: 10px;
    height: 42px;
    left: 897px;
    top: 395px;
    background: none;
    border: none;
    border-bottom: 3px solid black;
}

.ft {
    position: relative;
    background: #fff;
    top: 100px;
    display: flex;
    padding: 10px;
    flex-direction: row;
}

.ft .ftmenu h3 {
    color: aliceblue;
}

.ft .ftmenu p {
    color: black;
}

.feature-products .section {
    display: none;
}

.ftmenu {
    width: 45%;
    padding: 10px;
}

.ftmenu img {
    display: flex;

}

.ftmenu .coral {
    display: flex;
}

.ftmenu svg {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.ft .ftmenu ul li {
    text-align: left;
    padding: 10px;
    list-style: none;
    color: rgb(12, 7, 1);

}

.ft .ftmenu ul li a {
    color: black;
    text-decoration: none;

}

.ft .ftmenu ul li a:hover {
    color: #222;
}

.footermain {
    position: relative;
    margin-top: 100px;
    display: flex;
    background-color: #000;
}

.footermain p {
    width: 122px;
    height: 24px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.footermain img {
    width: 283px;
    height: 24px;
    margin-top: 10px;
    margin-left: 250px;
}

.footermain h6 {
    width: 70px;
    height: 16px;
    margin-top: 13px;
    margin-left: 550px;
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
}

.Header {
    position: relative;
    top: 9000px;
}

.buttons .cart {
    display: none;
    width: 300px;
    height: 700px;
}

.buttons :hover .cart {
    display: block;
    margin-top: 600px;
    position: absolute;
    border-radius: 20px;
    background: #fff;
    color: #444;
    margin-left: -249px;
    height: 520px;
    min-width: 400px;
    padding: 10px 0;
}

.cart h3 {
    margin-top: 10px;
    margin-left: 20px;
    border-bottom: 1px solid rgb(80, 74, 74);
    padding-bottom: 10px;

}

.cart p {
    margin-left: 20px;
    font-size: 15px;
}

.cart i {
    margin-left: 110px;
    padding-top: 40px;
}

.cart h6 {
    margin-left: 40px;
    margin-top: 60px;
    font-size: 15px;
}

.cart button {
    padding: 10px 38px;
    background: rgb(114, 114, 243);
    border: none;
    border-radius: 20px;
    color: #fff;
    margin-top: 70px;
    margin-left: 10px;
}

.cart .prod h6 {
    margin-top: -35px;
    margin-left: 290px;
}

.cart .prod p {
    margin-left: -250px;
}

.cart .produ {
    display: flex;
}

.cart .produ img {
    margin-top: 40px;
    margin-left: 20px;
    width: 190px;
    height: 100px;
}

.cart .produ p {
    margin-top: 70px;
    margin-left: 114px;
}

.cart .produc {
    display: flex;
}

.cart .produc img {
    margin-top: 40px;
    margin-left: 20px;
    width: 190px;
    height: 100px;
}

.cart .produc p {
    margin-top: 70px;
    margin-left: 114px;
}

button {
    background-color: #555;
    width: 100%;
    color: #000;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

form {
    border: 3px solid #F1F1F1;
}

input[type=text],
input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #222;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.7;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
}

.collapse .bar a {
    color: #222;
    margin: 0px 50px;
    font-size: 20px;
}

@media screen and (max-width:420px) {
    .Body-padding {
        background-color: #F1F1F1;
        height: 600px;
        width: 401px;
    }

    .row1 {
        padding-top: 600px;
    }

    .one {
        margin-top: 550px;
        padding: 10px;
    }

    .cener {
        display: flex;
        justify-content: center;
    }

    .cener h4 {
        margin-left: -30px;
        color: gray;
    }

    .cener h6 {
        margin-left: 180px;
        margin-top: 10px;
        color: red;
    }

    .two {
        margin-top: 20px;
    }

    .three {
        margin-top: 20px;
    }

    .four {
        margin-top: 20px;
    }

    .five {
        margin-top: 20px;
    }

    .navbar {
        width: 374px;
    }

    .collect h5 {
        top: 200px;
        left: 40px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 44px;
        line-height: 55px;
        color: #000000;
    }

    .collect p {
        position: absolute;
        top: 253px;
        left: 40px;
        width: 215px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 00;
        font-size: 17px;
        line-height: 55px;
        text-transform: capitalize;
        color: #000000;
    }

    .collect button {
        position: absolute;
        top: 430px;
        font-size: 15px;
        left: 38px;
        background: #000;
        color: white;
        padding: 10px 10px;
        border-radius: 7px;
        width: 90px;
    }

    .collect svg {
        display: none;
    }

    .img img {
        display: none;
    }

    .main .text {
        display: none;
    }

    .btn {
        display: none;
    }

    .main1 {
        position: absolute;
        width: 290px;
        height: 318px;
        left: 40px;
        top: 877px;
    }

    .main2 {
        display: none;
    }

    .main3 {
        display: none;
    }

    .main4 {
        display: none;

    }

    .main5 {
        display: none;
    }

    button .a {
        margin-left: 300px;
    }

    .logodisplay {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 40px;
        margin-top: 40px;
        margin-left: 1px;
    }

    .logodisplay .logo1 {
        display: none;
    }


    .logodisplay img:hover {
        transform: scale(0.9);
        transition: 0.5s;
    }

    .main {
        margin-top: 700px;
    }

    .zara {
        position: absolute;
        width: 330px;
        height: 341px;
        top: 10680px;
        left: 23px;
    }

    .zara1 {
        display: none;

    }

    .contain {
        display: none
    }

    .contain h2 {
        display: none;
    }

    .contain p {
        display: none;
    }

    .contain button {
        display: none;
    }

    .seller .link001 {
        display: none;
    }

    .seller p {
        position: absolute;
        width: 332px;
        height: 53px;
        left: 14px;
        top: 11050px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 53px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: capitalize;

        color: #000000;

    }

    .link01 {
        display: none;
    }

    .link02 {
        display: none;
    }

    .link03 {
        display: none;

    }

    .link04 {
        display: none;
    }

    .seller .btn1 {
        display: none;
    }

    .card01 {
        position: absolute;
        width: 332px;
        height: 297px;
        left: 20px;
        top: 11550px;

    }

    .card02 {
        position: absolute;
        width: 332px;
        height: 297px;
        left: 20px;
        top: 11200px;
    }

    .card03 {
        display: none;
    }

    .card04 {
        position: absolute;
        width: 332px;
        height: 297px;
        left: 20px;
        top: 11910px;
    }

    .discount p {
        display: none;
    }

    .discount {
        position: relative;
        top: 100px;
        background-color: #F1F1F1;
        width: 379px;
        height: 500px;
    }

    .discount1 {
        position: absolute;
        width: 260px;
        height: 260px;
        left: 62px;
        top: 59px;
    }

    .discount2 {
        display: none;

    }

    .sbb {
        margin-top: -80px;
    }

    .discount3 {
        display: none;
    }

    .icons {
        display: none;
    }

    .discount4 {
        display: none;
    }

    .discount5 {
        display: none;
    }

    .discount6 {
        display: none;
    }

    .discount h6 {
        display: none;
    }

    .discount .input1 {
        position: absolute;
        width: 300px;
        height: 32px;
        font-size: 20px;
        left: 45px;
        top: 415px;
        color: #fff;
        background: none;
        border-radius: 10px;
        border: none;
        border-bottom: 3px solid black;
    }

    .input2 {
        position: absolute;
        width: 100px;
        font-size: 20px;
        height: 42px;
        left: 157px;
        top: 485px;
        color: #000;
        background: none;
        border-radius: 10px;
        border: none;
        border-bottom: 3px solid black;
    }

    .btns {
        display: none;
    }

    .ft {
        display: none;
    }

    .para {
        display: none;
    }

    .footermain {
        position: relative;
        margin-top: 100px;
        display: flex;
        width: 376px;
        height: 50px;
        background-color: #000;
    }

    .footermain p {
        display: none;
    }

    .footermain img {
        width: 243px;
        height: 24px;
        margin-top: 16px;
        margin-left: 70px;
    }

    .footermain h6 {
        display: none;
    }

    button {
        display: none;
    }

    form {
        display: none;
    }

    input[type=text],
    input[type=password] {
        display: none;
    }

    button:hover {
        display: none;
    }

    .cancelbtn {
        display: none;
    }

    .collapse .bar a {
        display: none;
    }
}